.profile {
    height: 15vh;
    width: 10vh;
    margin: 2vh;
}

.profile-bookmark {
    color: #fff;
    text-decoration: none;
}

.profile-folder {
    cursor: pointer;
}

.profile-img-wrap {
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 1.5vh;
    -webkit-box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 1vh 0 rgba(0, 0, 0, 0.35);
}

.profile-img {
    height: auto;
    width: 50%;
    vertical-align: middle;
}

.profile-title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-title {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin: 1vh 0;
}