.app {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    min-height: 100vh;
    width: 100vw;
}

.bookmark {
    height: auto;
    width: 90vw;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    font-weight: bold;
    margin: 0 2.5vh;
    font-size: 24px;
}

.bookmarks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (max-width: 714px) {
    .app {
        background-size: auto 100%;
    }
}